.linklike {text-decoration:underline;}
.lang-menu {border-top:solid 1px rgba(144, 144, 144, 0.25);color:#FFF;}
.lang-menu span, .lang-foot span {display:inline !important;border:0 !important;color:#c5c7c8 !important;}
.lang-menu a, .lang-foot a {display:inline-block !important;border:none !important;}
@media screen and (max-width: 980px) {
	.lang-menu {display:list-item !important;}
} @media screen and (min-width: 980px) {
	.lang-menu {display:none !important;}
}
