---
layout: landing-page
language: fr
handle: /
---
<!-- One -->
<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Vos soirées karaoké en un clin d'œil</h2>
        <p><b>Karaoke Mugen</b>, pour karaoké <i>infini</i>, est un gestionnaire de playlists et un lecteur de karaokés pour vos soirées.</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-code major"></i>
                    <h3>Multi-plateformes</h3>
                    <p>Que votre machine soit sous Windows, macOS ou Linux, ça fonctionnera ! L'interface utilisateur tourne sur tous les navigateurs récents, tablettes et smartphones.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-laptop major"></i>
                    <h3>Hors-ligne</h3>
                    <p>Karaoke Mugen, une fois installé, configuré et mis à jour, ne nécessite pas de connexion internet. À vous les soirées dans la salle des fêtes perdue au fin fond de la campagne !</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-check-square-o major"></i>
                    <h3>Encore plus !</h3>
                    <p>Et voici <a href="{{ site.baseurl }}/features.html">10 autres bonnes raisons</a> de choisir <b>Karaoke Mugen</b>, attention, la huitième va vous étonner !</p>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Présentation -->
<section id="two" class="wrapper style2">
    <header class="major">
        <h2>Simple, clair et efficace</h2>
        <p>Grâce à son interface sobre, <b>Karaoke Mugen</b> fonctionne sur ordinateur, tablette et mobile !</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="12u">
                <section class="special">
                    <a href="{{ site.baseurl }}/images/presentation.png" class="image fit" target="_blank">
                        <img src="{{ site.baseurl }}/images/presentation.png" />
                    </a>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
    <header class="major">
        <h2>Adapté à toutes les situations</h2>
        <p>Que cela soit entre amis ou face à un public déchaîné, le karaoké n'a aucune limite.</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit">
                        <script type="text/javascript" language="javascript">
                            document.write('<img src="images/potes/potes' + Math.round((Math.random() * 17) + 1) + '.jpg" />');
                        </script>
                    </a>
                    <h3>Entre amis</h3>
                    <p>En privé, tout le monde peut ajouter ses karaokés préférés à la liste de lecture courante. Le lecteur déroulant la liste au fur et à mesure, vous pourrez insulter votre voisin d'avoir ajouté pour la quinzième fois de la soirée cette chanson de <i>One Piece</i> !</p>
                    <!--
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
								-->
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit">
                        <script type="text/javascript" language="javascript">
                            document.write('<img src="images/public/public' + Math.round((Math.random() * 9) + 1) + '.jpg" />');
                        </script>
                    </a>
                    <h3>Avec du public</h3>
                    <p>En public, le DJ est important : c'est lui qui choisit les chansons alors que le public en ajoute à la liste de suggestions ! Préparez une playlist 100% génériques de <i>shonen</i> ou défoncez les oreilles de votre public sur l'opening de <i>Log Horizon</i> !</p>
                    <!--
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
								-->
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="4u">
                <section>
                    <h2>La passion d'abord</h2>
                    <p align=justify><b>Karaoke Mugen</b> a été créé avec de la <b><font color="#FF0000">PASSION</font></b>. Une petite équipe de passionnés d'animation japonaise maintiennent le site et la base de données via leur <a href="https://gitlab.com/karaokemugen/">GitLab</a> et <a href="https://karaokes.moe/discord">Discord</a>. En cas de soucis, n'hésitez pas à nous contacter. Et si vous voulez participer, c'est encore mieux ! Nous avons toujours besoin de bonnes volontés pour enrichir la base de données, <a href="https://docs.karaokes.moe/fr/contrib-guide/create-karaoke">créer</a> des karaokés ou les <a href="https://gitlab.com/karaokemugen/bases/karaokebase/issues">améliorer</a> pour tout le monde.</p>
                </section>
            </div>
            <div class="5u">
                <section>
                    <a href="#" class="image fitb">
                        <script type="text/javascript" language="javascript">
                            document.write('<img src="images/passion/passion' + Math.round((Math.random() * 4) + 1) + '.jpg" />');
                        </script>
                    </a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <h3>Open source</h3>
                    <p align=justify><b>Karaoke Mugen</b> est développé en <b>NodeJS</b>, les sources sont disponibles sur le <a href="https://gitlab.com/karaokemugen/">GitLab</a> de <b>Shelter</b>. Vous pensez que cette fonctionnalité est mal codée, qu'une optimisation est nécessaire ou qu'un texte est mal traduit ? Le développement est ouvert à tous.</p>
					<p align=justify>
						Outre le logiciel, <a href="https://gitlab.com/karaokemugen/bases/karaokebase">la base de karaokés</a> est sous une license Creative Commons. <a href="https://gitlab.com/karaokemugen/bases/karaokebase/blob/master/LICENSE.md">Plus d'informations ici</a>.
					</p>
                    <p align=justify>Ce site web est également <i>open source</i> et disponible via <a href="https://gitlab.com/karaokemugen/sites/mugen-site">ce dépôt</a> ! Si vous savez manier le HTML + CSS comme personne, venez nous donner un coup de main ! Le site est créé par le générateur de sites statiques <a href="http://www.jekyllrb.com">Jekyll</a>.</p>
                </section>
            </div>
        </div>
    </div>
</section>
